{% extends 'app/main.html' %}
{% block content %}
    <div class="header-bar">
        <h1>Register</h1>
    </div>
   <div class="card-body">
    <form action=""  method = "post">
        {% csrf_token %}
        <label for=""> {{form.username.label}}</label>
        {{form.username}}

        <label for=""> {{form.password1.label}}</label>
        {{form.password1}}
        <label for=""> {{form.password2.label}}</label>
        {{form.password2}}
        <input type="submit" value="register" class= "button" style = "margin-top:10px;">
    </form>
   </div>

    

    <p>Already  have an account ? <a href="{% url 'login' %}">Login.</a></p>
{% endblock content %}